*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url(moon-night-silhouette-yellow-dream-1920x1080-77.jpg);
}
h1{
    height: 5rem;
    background-color: rgb(10, 47, 67);
    color: white;
    text-align: center;
    line-height: 5rem;
    /* font-feature-settings: "afrc"; */
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    
}

img{
     height: 150px;
    width: 150px;
    object-fit: cover;
    /* border: 3px solid black; */
    border-radius: 50%;
    /* background-color: black; */
}
.choice{
    display: flex;
    height: 165px;
    width: 165px;
    /* border: 5px solid black; */
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
img:hover{
    cursor: pointer;
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 2rem;

}
#user-score , #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 3rem;
    
}
#msg{
    font-size: x-large;
    height: 5rem;
    background-color: black;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
